.mohinh-left {
    display: flex;
    flex-direction: column;
    /* row-gap: 40px; */
    width: 28%;
    padding: 0 2rem 0 0;
}

.search-box {
    display: flex;
    align-items: center;
}

.inf-title {
    font-size: 17.5px !important;
    white-space: nowrap;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    position: relative;
}

.inf-title::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 0.2rem;
    background-color: #e1e1e1;
    bottom: -10px;
    left: 0;
}

/* .search-box */
.search-box {
    margin-top: 10px;
}

.search-box input {
    width: 100%;
    border: 1px solid #333;
    outline: none;
    font-size: 17px;
    padding: 0.3rem;
    border-right: none;
}

.search-box svg {
    display: flex;
    align-items: center;
    background-color: #970000;
    color: #fff;
    /* padding: 17.5px; */
    padding: 0.6rem;
    width: 50px;
    cursor: pointer;
    height: 36.8px;
}

.items-products {
    padding: 0.7rem 0;
    border-bottom: 1px solid #e3e0e0;
    cursor: pointer;
}

.avatar-image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.good-products {
    margin-top: 20px;
}

.items-products {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: lighter;
    font-size: 13px;
}

.product-content {
    display: flex;
    font-weight: 400;
}

.category {
    margin-top: 20px;
}

.category ul {
    margin-top: 10px;
}

.category ul li {
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.category ul li:hover {
    color: red;
}

.category ul li a {
    font-size: 14px;
}

.items-products .price {
    font-size: 13px;
}