.container_title {
    background-image: url(../../assets/banner/banner-1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.container_title_2 {
    width: 100%;
    opacity: 0.7;
    background-color: #000000;
}

.title-page {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}

.title-page-left {
    gap: 5px;
    display: flex;
    align-items: center;
}

.divider {
    color: #fff;
    margin: 0 10px;
}

.title-page-left p,
h3 {
    color: #fff;
    margin: 0;
    cursor: pointer;
}

.custom-select {
    border-radius: 20px;
    padding: 8px 16px;
    border: 2px solid #fff;
    background-color: transparent;
    background-color: #353535;
    color: #fff;
    font-size: 14px;
}