@tailwind utilities;
@tailwind base;
@tailwind components;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-footer: #273647;
}

.container-maxWidth {
    max-width: 1320px;
    margin: 0px auto;
}

html {
    scroll-behavior: smooth;
}