@tailwind utilities;
@tailwind base;
@tailwind components;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-footer: #273647;
}

.container-maxWidth {
    max-width: 1320px;
    margin: 0px auto;
}

html {
    scroll-behavior: smooth;
}

/* Đổi màu thanh trượt */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #ff5e00;
}

/* Đổi kích thước và kiểu đỉnh của thanh trượt */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ff5e00;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.active {
    background-color: yellow;
    color: #ff5e00;
}